@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

 .center {
     display: inline-flex;
     margin: 4px;
     border: 0.5px solid rosybrown;
	 top: 50px;
	 background: #fff;
	 border-radius: 3px;
	 box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}
 .profile {
	 float: left;
	 width: 200px;
	 height: 200px;
	 text-align: center;
}
 .profile .image {
	 position: relative;
	 width: 70px;
	 margin: 8px auto 0 auto;
}
 .profile .image img {
	 display: block;
	 border-radius: 50%;
	 background: #f5e8df;
}

 .profile .name {
	 font-size: 15px;
	 font-weight: 600;
	 margin-top: 10px;
}
 .profile .actions {
	 margin-top: 9px;
}
 .profile .actions .btn {
	 display: block;
	 width: 120px;
	 height: 30px;
	 margin: 0 auto 10px auto;
	 background: none;
	 border: 1px solid #786450;
	 border-radius: 15px;
	 font-size: 12px;
	 font-weight: 600;
	 box-sizing: border-box;
	 transition: all 0.3s ease-in-out;
	 color: #786450;
}
 .profile .actions .btn:hover {
     cursor: pointer;
	 background: #786450;
	 color: #fff;
}

 .stats .box {
	 box-sizing: border-box;
	 width: 80px;
	 height: 99px;
	 background: #f5e8df;
	 text-align: center;
	 padding-top: 28px;
	 transition: all 0.4s ease-in-out;
}
 .stats .box:hover {
	 background: #e1cfc2;
	 cursor: pointer;
}
 .stats .box:nth-child(2) {
	 margin: 1px 0;
}
 .stats span {
	 display: block;
}
 .stats .value {
	 font-size: 18px;
	 font-weight: 600;
}
 .stats .parameter {
	 font-size: 11px;
}
 